body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #222222; 
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding: 40px;
        }

        .container {
            display: flex;
            max-width: 1100px;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            gap: 60px; 
        }

        .content-left {
            flex: 1; 
            color: #ffffff;
            max-width: 600px;
        }

        .tag {
            display: inline-block;
            background-color: #02AA6D;
            color: white;
            padding: 8px 16px;
            font-weight: bold;
            font-size: 1.1rem;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 4rem;
            font-weight: 800;
            line-height: 1;
            margin-bottom: 5px;
        }

        h2 {
            font-size: 3rem;
            font-weight: 700;
            color: #02AA6D; 
            margin-bottom: 25px;
        }

        p {
            color: #cccccc; 
            font-size: 1.1rem;
            line-height: 1.5;
            margin-bottom: 40px;
            max-width: 90%;
        }

        p strong {
            color: #ffffff;
            font-weight: bold;
        }

        .btn-visit {
            display: inline-block;
            text-decoration: none;
            color: white;
            background: linear-gradient(to bottom, #02AA6D, #02AA6D);
            padding: 15px 40px;
            font-size: 1.3rem;
            font-weight: bold;
            border-radius: 50px; 
            box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
            transition: transform 0.2s ease;
        }

        .btn-visit:hover {
            transform: translateY(-3px); 
        }

        .image-right {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }


        .image-card {
            position: relative;
            width: 400px;
            height: 400px;
            background-color: #02AA6D; 
            border-radius: 30px;
            overflow: hidden; 
            box-shadow: 0 10px 25px rgba(0,0,0,0.2);
        }

        .image-card img {
            position: absolute;
            width: 85%;
            bottom: 0; 
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }